.reviews__button {
    padding: 20px 0px;
}

.container {
    width: 80%;
    margin: 0px auto;
 } 
  

 .d__flex {
    display: flex;
 }

 
 .reviews__row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
 }



.reviews__col{
    max-width: 25%;
    display: flex;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
 }

.students__reviews {
    text-align: center;
}

.reviews__text {
    max-width: 50%;
    margin-bottom: 25px;
    font-size: 14px;
    text-align: justify;
    color: #473558;

}


.reviews__image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;

}

.reviews__description {
    font-weight: 550;
    font-size: 18px;
    max-width: 90%;
    color: #291b37;
    margin: 3px;
    padding: 3px 3px 3px 0;
}

.reviews__more {
    font-weight: 200;
    color: #473558;
    margin: 5px;
    font-size: 14px;
    text-transform: capitalize;
}

.reviews__date {
    color: #473558;
    margin-top: 18px;
    font-size: 12px;

}


.reviews__space {
    padding: 5px 30px 5px 30px;
    
 }
 
 .pointer {
    cursor: pointer;
 }

 .reviews__heading {
    font-weight: 500;
    font-size: 37px;
    line-height: 87px;
    color: #473558;
    margin-bottom: 10px;
    text-align: start;
    align-items: flex-start;

}


.reviews__cola{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;

 }


.reviews__button .button {
    background-color: #473558;
    text-transform: capitalize;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 32.74px;
    border: 1px solid #473558;
    cursor: pointer;
    width: 170px;
}

.reviews__button .button:hover {
    background:#fff;
    color: #473558;
}



@media only screen and (max-width: 1024px) {
   .reviews__text {
      max-width: 100%;
   }
    
}

@media only screen and (max-width: 960px) {
    .reviews__col {
       max-width: 100%;
    }

    .reviews__space {
        padding: 0;
        
    }

    .reviews__text {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .reviews__cola{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 5px;
    
     }
      
 }

