.updates__button {
    padding: 20px 0px;
}

.container {
    width: 80%;
    margin: 0px auto;
 } 
  

 .d__flex {
    display: flex;
 }

 
 .updates__row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
 }



.col__6{
    max-width: 32%;
    display: flex;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
 }

.gallery {
    width: 100%;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;

}

.updates__image {
    width: 100%;
    height: auto;
}

.updates__description {
    font-weight: 600;
    max-width: 90%;
    color: #291b37;
    margin: 3px;
    padding: 3px 3px 3px 0;
}

.updates__more {
    text-decoration: underline;
    font-weight: 500;
    color: #473558;
    margin: 1px;
    font-size: 14px;
    text-transform: capitalize;
}

.updates__date {
    font-weight: 250;
    color: #473558;
    margin: 3px;
    font-size: 12px;
    text-transform: capitalize;
}


.updates__space {
    padding: 5px 30px 5px 30px;
    
 }
 
 .pointer {
    cursor: pointer;
 }

 .facilities__heading {
    font-weight: 500;
    font-size: 37px;
    line-height: 87px;
    color: #473558;
    margin-bottom: 10px;
    text-align: start;
    align-items: flex-start;

}


.col__6a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;

 }


.updates__button .button {
    background-color: #473558;
    text-transform: capitalize;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 32.74px;
    border: 1px solid #473558;
    cursor: pointer;
    width: 170px;
}

.updates__button .button:hover {
    background:#fff;
    color: #473558;
}

@media only screen and (max-width: 1024px) {
      .col__6 {
       max-width: 100%;
      }
      .updates__space {
        padding: 0;
        
     }

     .col__6a{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 5px;
    
     }
    


      
 }












 




